$primary-font-color: #f7fafc;
$secondary-font-color: #8cb0d9;
$tertiary-font-color: #0d1926;

$primary-background-color: #0d1926;
$secondary-background-color: #264a73;
$tertiary-background-color: #fff;

$primary-border-color: #f7fafc;
$secondary-border-color: #0d1926;

$error-color: #ff0033;
