.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-width: 220px;
    margin: 0 10px 30px;
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transform: scale(1.015);
    cursor: pointer;

    &:hover {
        z-index: 10;
        transition: transform 0.15s ease;
    }

    .image {
        display: flex;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 10px;

        h3 {
            font-size: 2rem;
            line-height: 1.1;
            margin-bottom: 10px;

            small {
                font-size: 1.4rem;
            }
        }

        p {
            font-size: 1.4rem;
            line-height: 1.3;
        }
    }
}
