@use './scss/colors';
@use './scss/mixins';

.main {
    display: flex;
    flex-direction: column;
    flex: 1;

    p {
        color: colors.$primary-font-color;
    }

    .intro {
        flex: 1;
        display: flex;
        flex-direction: column;

        > div {
            display: flex;
            flex-direction: column;
            padding: 0 20px;

            @include mixins.breakpoint(md) {
                padding: 0 10px;
            }

            &:first-of-type {
                justify-content: flex-end;
                height: calc(50vh - 90px);
                z-index: 1;
            }

            &:last-of-type {
                height: calc(50vh - 30px);
                background: colors.$secondary-background-color;
            }

            > div {
                width: 100%;
                max-width: 1280px;
                margin: 0 auto;

                h1,
                h2 {
                    font-size: 2rem;
                    font-weight: 400;
                    color: colors.$secondary-font-color;

                    @include mixins.breakpoint(md) {
                        font-size: 1.6rem;
                    }
                }

                h2 {
                    margin-top: 5px;
                }

                p {
                    font-size: 6.4rem;
                    font-weight: 700;
                    line-height: 1;
                    letter-spacing: -0.03em;

                    @include mixins.breakpoint(md) {
                        font-size: 3.6rem;
                        line-height: 1.1;
                    }
                }

                .projectLinks {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 50px;

                    @include mixins.breakpoint(md) {
                        flex-direction: column;
                        margin-top: 30px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: colors.$primary-font-color;
                        font-size: 1.6rem;
                        line-height: 1;
                        height: 40px;
                        padding: 0 20px;
                        border: 1px solid colors.$primary-border-color;
                        border-radius: 5px;
                        cursor: pointer;

                        @include mixins.breakpoint(md) {
                            width: 100%;
                        }

                        &:hover {
                            background: colors.$primary-background-color;
                        }

                        ~ a {
                            margin-left: 20px;

                            @include mixins.breakpoint(md) {
                                margin: 10px 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
