@use '../../../scss/colors';
@use '../../../scss/mixins';

.main {
    flex: 1;
    padding: 20px 10px;
    background: colors.$tertiary-background-color;

    @include mixins.breakpoint(md) {
        padding: 10px;
    }

    h1 {
        font-size: 3.2rem;
        line-height: 1.15;
        text-align: center;
        margin-bottom: 20px;
    }

    section {
        flex: 1;
        display: flex;
        align-items: flex-start;
        max-width: 1280px;
        margin: 0 auto;

        @include mixins.breakpoint(md) {
            flex-direction: column-reverse;
        }

        .search {
            flex: 2;

            @include mixins.breakpoint(md) {
                flex: unset;
                width: 100%;
            }

            > div,
            > button {
                width: 100%;

                ~ div {
                    margin-top: 20px;
                }
            }

            > button {
                margin-top: 20px;

                ~ button {
                    margin-top: 10px;
                }
            }

            .checkbox {
                display: flex;
                align-items: center;
                margin: 15px 10px 0;

                input,
                label {
                    cursor: pointer;
                }

                label {
                    font-size: 1.4rem;
                    line-height: 1;
                    padding-left: 5px;
                }
            }

            .results {
                display: flex;
                flex-direction: column;

                .loader {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;
                }

                .row {
                    display: flex;
                    align-items: center;
                    border-radius: 10px;
                    padding: 5px;
                    border: 1px solid colors.$secondary-border-color;

                    ~ div {
                        margin-top: 10px;
                    }

                    .content {
                        flex: 1;

                        h2 {
                            font-size: 1.8rem;
                            line-height: 1;
                        }

                        .airportInfo {
                            margin-top: 10px;

                            div {
                                display: flex;
                                align-items: center;

                                ~ div {
                                    margin-top: 3px;
                                }

                                svg {
                                    min-width: 18px;
                                }

                                p {
                                    line-height: 1.15;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }

                    .actions {
                        min-width: 35px;

                        button {
                            display: flex;
                            align-items: center;
                            padding: 0 5px 0 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .flightDetails {
            flex: 3;
            position: sticky;
            top: 20px;
            margin-left: 30px;

            @include mixins.breakpoint(md) {
                flex: unset;
                top: 0;
                width: 100%;
                margin-bottom: 20px;
                margin-left: 0;
            }

            .map {
                width: 100%;
                height: 500px;

                @include mixins.breakpoint(md) {
                    height: 300px;
                }

                .aircraftMarker {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                }
            }

            .flight {
                display: flex;
                align-items: flex-start;
                margin-top: -1px;
                padding: 10px;
                background: colors.$tertiary-background-color;
                border: 1px solid colors.$secondary-border-color;
                border-radius: 0 0 10px 10px;

                @include mixins.breakpoint(md) {
                    border-color: transparent;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                }

                > div {
                    &:first-of-type {
                        flex: 3;

                        .airportInfo {
                            display: flex;
                            align-items: center;

                            p {
                                margin-left: 5px;
                            }
                        }
                    }

                    &:last-of-type {
                        flex: 2;
                        margin-left: 20px;

                        p:nth-of-type(n + 2) {
                            font-size: 1.4rem;
                        }

                        button {
                            display: block;
                            height: 25px;
                            margin-left: auto;
                            text-decoration: underline;
                            cursor: pointer;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
